<table style=" font-family: 'Poppins', sans-serif;">
    <tr>
        <td style="padding: 20px; vertical-align: middle;">
            <p style="font-size: 24px; font-weight: bold; color: #39502c; margin: 0;">Fernanda Rivera Martinez</p>
            <p style="font-size: 18px; font-weight: 500; color: #7f8c8d; margin-top: 10px;">Ingeniero en software</p>
            <p style="font-size: 16px; color: #95a5a6; margin-top: 5px;">Contribuyente a la física</p>
        </td>
        <td style="text-align: center;">
            <img src="assets/fer.jpeg" style="border-radius: 50%; border: 4px solid #2d571f; width: 120px; height: 120px;">
        </td>
        <td style="padding: 20px; text-align: left;">
            <ul style="list-style-type: none; padding: 0; margin: 0; font-size: 16px; color: #34495e;">
                <li style="margin-bottom: 10px;">fernandaariveramartinez&#64;gmail.com</li>
                <li style="margin-bottom: 10px;">272-187-6436</li>
                <li style="margin-bottom: 10px;">Orizaba, Veracruz</li>
                <li style="margin-bottom: 10px;">&#64;hyuuuuuuun</li>
            </ul>
        </td>
    </tr>
</table>


